.wardcardlayout {
  background: #fff;
  height: 58px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.wardcardheader{
  margin: 24px;
  font-size: 22px;
}

.timeinformation{
  color: #000000;
  width: auto; 
  margin: 10,;
  font-size: 14px; 
  font-family: Helvetica;
}

.wardinfocontent {
  height: auto;
  margin: 10px;
  flex-grow: 2;
  width: 65%;
  overflow: auto;
  max-height: 80vh;
}

.wardcontent {
  background: #ffffff;
  height: auto;
  margin: 10px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 35%;
  padding: 5px;
  justify-content: center;
  overflow: auto;
  max-height: 650px;
}

.wardcontentlarge {
  background: #333333;
  height: auto;
  margin: 10px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 35%;
  padding: 5px;
  overflow: auto;
  max-height: 650px;
}

.wardcard {
  width: 97%;
  height: 150;
  margin: 5px;
}

.wardcard {
  width: 97%;
  height: 150;
  margin: 5px;
}



