svg {
  width: 100%;
  height: 100%;
  font-size: 0.75em;
}

path {
	stroke-width: 1;
	fill: none;
}

.axis text {
  font: 5px;
  stroke: #333333;
}

.axis path {
  stroke: none;
}

.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.limitaxis text {
  font: 10px;
}

.limitaxis path {
  stroke: none;
}

.limitaxis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.caption {
  font-weight: normal;
}
